.container {
    position: relative;
}

.title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.subtitle {
    margin-top: 33px;
    color: #7D7987;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 80px; /* Отступ от карточек */
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 354px;
    border-radius: 20px;
    background: #FFF;
    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.photo {
    max-width: 100%; /* Укажите необходимую ширину для фото */
    height: 90px; /* Укажите необходимую высоту для фото */
    object-fit: cover; /* Чтобы фото заполняло свою область */
    margin-bottom: 10px;
}

.title_card {
    font-size: 1.5rem; /* Размер заголовка */
    margin-bottom: 5px;
}

.subtitle_card {
    font-size: 1rem; /* Размер подзаголовка */
    color: #666; /* Цвет подзаголовка */
}

.withMargin {
    margin-left: 37px;
}

.blueButton {
    margin-top: 69px;
    width: 200px;
    height: 56px;
    padding: 10px 20px;
    color: #458FF6;
    background-color: white;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    cursor: pointer;
    font-size: 18px;
}
