.container {
    position: relative;
}

.title {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.subtitle {
    margin-top: 33px;
    color: #7D7987;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 80px; /* Отступ от карточек */
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 350px;
    height: 354px;
    border-radius: 20px;
    background: #FFF;
    /* drop shadow */
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.40);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.photo {
    margin-top: 54px;
    width: 91px;
    height: 90px;
    margin-bottom: 22px;
}

.title_card {
    font-size: 24px;
    margin-bottom: 5px;
    text-align: left;
}

.subtitle_card {
    font-size: 16px; /* Размер подзаголовка */
    color: #7D7987; /* Цвет подзаголовка */
    text-align: left;
    font-weight: 300;
    line-height: 28px;
}

.subtitle_card, .title_card {
    max-width: 250px;
}

.withMargin {
    margin-left: 37px;
}

.button {
    margin-top: 69px;
    width: 200px;
    height: 56px;
    padding: 10px 20px;
    border-radius: 55px;
    border: 1.4px solid #458FF6;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
}

.cloudphoto {
    position: absolute;
    left: -150px;
    margin-top: 195px;
    z-index: -1;
}

.element5dots {
    position: absolute;
    top: 570px;
    z-index: -1;
    right: 25px;
}
